@page "/Tach"

<h2>Tach in de APP</h2>



<div class="chatbox">
    <ul class="list-group">
  


@foreach (var message in Messages)
            {
                <li class="list-group-item">
                <span>@message.Date.ToShortTimeString()</span>
                <span>@message.User</span>
                <span>@message.Text</span>
                </li>
            }
</ul>
</div>

<div>
    <input type="text" @bind-value=UserName />
    <button class="btn btn-primary" @onclick="UserN">Get</button>
</div>

<div>
    <input type="text" @bind-value=NewMessageText @onkeydown="SendMessageOnEnter"/>
    <button class="btn btn-primary" @onclick="SendMessage">Send</button>
</div>


@code {
private string UserName {get;set;}
private string NewMessageText {get;set;}
    private List<Message> Messages = new List<Message>{
        
        };

private void UserN()

    {
       //Messages.Add(new Message{ Text = "UserN" });
        
    }

    private void SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(NewMessageText))
        {
            Messages.Add(new Message{ Text = NewMessageText, User = "UserN" });
            NewMessageText = string.Empty;
        }
    }

private void SendMessageOnEnter(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            SendMessage();
            //StateHasChanged();
        }
    }

    public record Message
    {
        public DateTime Date { get; set; } = DateTime.UtcNow;

        public int Id { get; init; }

        public string Text { get; set; }

        public string User{ get;set;}
    }
}







<!---
<EditForm Model=@_login OnValidSubmit="HandleValidSubmit" class="form-signin">
    
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <label for="inputEmail" class="sr-only">Username</label>
      <InputText id="inputEmail" class="form-control mb-4" @bind-Value=_login.Username placeholder="Username" required autofocus />
      
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      
    </EditForm>
    -->